/* GLOBALS TODO: make separate globals file*/ 
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --BORDERS:#e0e0e0;
    --scale-factor:1;
    --RED:#de0000;
    --LIGHTTEXT:#f9f9f9;
    --LIGHTTEXT80: #f9f9f9de;
    --CREAM:#FFFAF6;
    --DARKBLUE:#000478;
    --SECONDARY-GREY:#3b3c40bf;
    --MID-TEXT-GREY:#5b5d62bf;
    --SIDEBAR-DARK: #181717;
    --DARK-SELECT: #202233;
    --OFFWHITE:#CBCACB;
    --MESSAGE:#4D8CBB;
    --SLIGHTGREY: #cecece;
    --SELECT-REDDISH: #bb7d4d38;
    --COLOR2: #c67b44;
    --MAIN-ACCENT:#4dbbac;
    --ACCENT-PURPLE:#7059D0;
    --ACCENT-PURPLE20:#7159d04c;
}
body{
    text-rendering: optimizeSpeed;
}

.App{
    flex-direction: column;
    font-family: 'Inter';
    height:100vh;
    background-color: var(--CREAM);
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-column{
    display:flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.text-small{
    font-size: 0.9rem;
}
.text-medium{
    font-size: 1.7rem;
}
.text-large{
    font-size: 2.8rem;
}
.text-smallm{
    font-size: 1.3rem;
}
.text-slightgrey{
    color:var(--MID-TEXT-GREY);
}
.rethink{
    font-family: 'Inter';
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-bold{
    font-weight: bold;
}
.max-width{
    width:100%;
}
.clickable{
    cursor:pointer;
}
.text-grey{
    color: #4d4949;
}
.text-white{
    color: var(--LIGHTTEXT);
}
.text-white80{
    color: var(--LIGHTTEXT80);
}
/* CONVO PAGE */
.convo-logo-container{
    padding:0.6rem;
    margin-bottom: 40px;
    padding: 0.6rem 0.2rem 0.6rem 0.6rem;
}
.green{
    color:green;
}
.main-blue-bkg{
    background-color: var(--MESSAGE) !important;
}
.Navbar{
    user-select: none;
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    height: max(7vh, 70px);
    box-shadow: 0 1px 1px var(--BORDERS);
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav-button{
    cursor:pointer;
}
#navbar-mid-options{
    display:flex;
    width:100%;
    justify-content: center;
    gap:30px;
}
#Main{
    flex:20;
    display:flex;
}
.Main-noNavbar{
    height:100vh !important;
}
.main-section{
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 7px;
    border-radius: 6px;
    text-align: center;
} 
#main-section-left{
    flex:1;
}
#main-section-center{
    flex:4;
}
#main-section-right{
    flex:4;
}
#main-flex{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-left: 4vw;    
    justify-content: center;
    padding-top: 13vh;
}
.main-section{
    flex:1;
    width:100%;
    text-align: center;
    display: flex;
    gap: 8vh;
    flex-direction: column;
    align-items: center;
}
#main-section-1{
    flex:0.4
}
#landing-main{
    display:flex;
    flex-direction: column;
    margin-left: 4vw;
    height: 100%;
}
#landing-main > div{
    height: 100%;
}
#main-flex1{
    flex:2;
    display:flex;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
}
#main-flex3{
    flex:3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#main-flex2{
    flex:1;
}
#main-flex4{
    flex:0.5
}
#main-flex5{
    flex:3
}
.main-title{
    font-size: 40px;
    font-family: 'Inter';
    transition: opacity 0.5s ease-in-out;
}
.main-title-search{
    height: 3.9rem;
}
#navbar-1{
    font-size:30px;
    cursor:pointer;
    margin: 0;
}
#navbar-2{
    gap: 10px;
    display: flex;
    align-items: center;
}
.navbar-ai-span{
    font-size:13px;
}
#login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
    align-items: center;
}
.login-form {
    min-width: 270px;
    max-width: 600px;  
}
.lower-login{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form label{
    font-size: 0.94rem !important;
    font-family: 'Inter';
}
.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}
#login-signup-square{
    border: 1px solid var(--SLIGHTGREY);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 50px 100px 50px 100px;
}
#login-header{
    border-bottom:1px solid var(--BORDERS);
    text-align: center;
    width: 100%;
}
#signin-methods{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
/* #avatar-context{
    display:flex;
    flex-direction: column;
    gap:10px;
} */
.avatar-context-option{
    padding: 10px;
    gap: 10px;
    display: flex;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    height: 2rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.avatar-context-option:hover{
    background-color:  var(--BORDERS);
} 
#settings-container{
    display:flex;
    width:100%;
    justify-content: center;
}
#frame-div{
    padding-top: 80px;
    width: 70%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.settings-card{
    width:100%;
}
#settings-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.error-msg{
    color: var(--RED);
}
#passchange-icon{
    margin-top: 1rem;
    font-size: 4rem;
}
#passchange-success{
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
    height: 100%;
}
.main-section-title{
    padding:5px;
}
.title-accent{
    color: var(--RED);
}
.title-secondary{
    color: var(--LIGHTTEXT);
    font-size: 1.17rem;
}
.filing-ddown-container{
    gap: 0.5rem;
    cursor:default;
}
.moveUp {
    transform: translateY(-16.5vh); /* Adjust the value to control how much the div moves up */
    transition-duration:1000ms;
}
.bkg{
    position:absolute;
    z-index: 0;
}
.fadeOut{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1.4s, opacity 1.4s linear;
}
.fadeIn{
    visibility: visible;
    opacity: 1 !important;
    transition: opacity 1s linear; 
}
#ai-container{
    opacity: 0;
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: flex-end;
}
#sym-header{
    width: 50vw;
    text-align: center;
    top: 0vh;
    position: fixed;

}
.message-container{
    text-align: left;
}
.message-text{
    margin-left: 0.5rem;
}
.message-agent{
    margin-left:8px;
}
#msg-send-icon{
    font-size:1.5rem;
    margin-right: 0.5rem;
}

/* MAIN PAGE REDESIGN */

#home-section-a, #home-section-b{
    background-color: var(--CREAM);
}
.home-textarea{
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}
#main-text{
    font-weight: 600;
    line-height: 110px;
    font-size: 5rem;
    font-family: 'Inter';
    color: var(--LIGHTTEXT);
}
#main-text span{
    margin:0;
    line-height: 95px;
}
.no-cc{
    margin-top: 2vh;
    font-size:12px;
    font-weight: 400;
}
#main-text-container {
    position: relative; /* Allows absolute positioning relative to this container */
    display: inline-block; /* Fit the width to the content */
}

#main-text-container p {
    margin: 0; /* Remove default margin */
}
.main-text-p{
    font-weight: 600;
    font-size: 5rem !important;
    font-family: 'Inter';
    color: var(--LIGHTTEXT);
    cursor:default;
}
#main-red{
    color:var(--RED);
}
#main-text2{
    cursor:default;
}
#main-gradient1{
    color:#3b3c40bf;  
}
#main-gradient2{
    color:#3b3c408c;
}
#main-text2{
    font-size:20px;
}
/* END MAIN PAGE REDESIGN */

#landing-navbar-logo,#signup-navbar-logo{
    cursor: pointer;
}
#navbar-logo{
    height: 3.4rem;
}
#signup-navbar{
    width: 100%;
}

/* CONVO PAGE */
#convo-container{
    display: flex;
    width:100%;
}
.sidebar-section{
    flex:1;
}
#convo-sidebar{
    flex:2;
    max-width: 250px;
    background-color: var(--SIDEBAR-DARK);
    display:flex;
    font-weight: 300;
    flex-direction: column;
    padding-left: 7px;
    padding-right: 7px;  
}
#convo-splitpane{
    display:flex;
    flex:7;
    height:100%;
    width:100%;
}
#sidebar-upper{
    margin-top:2.5vh;
}
.sidebar-hr{
}
#sidebar-upper hr,.sidebar-hr{
    border-color: #242424;
    border-radius:6px;
    margin: 0px 30px 0px 30px;
}
.convo-pane{
    height: 100%;
    display: flex;
    alignItems: center;
    justifyContent: center;
    background-color: rgb(246, 246, 246);
    border-radius:6px;
}
#convo-pane-left{
    border-right:5px solid rgb(221, 221, 221);
}
#convo-pane-right{
    border-left:5px solid rgb(221, 221, 221);
}
.sidebar-subscribe-button{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

#iframe-container{
    height: calc(var(--scale-factor) * 100% ); 
    width: calc(var(--scale-factor) * 100%); 
}
#iframe-report{
    height:100%;
    width:100%;
    transform-origin: left top;
}
#htmlviewer-container{
    width:100%;
    height:100%;
    text-align:center;
}
#htmlview-header{
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
#chat-container{
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}
#chat-bar{
    padding: 0.7rem;
    display: flex;
}
.iframe-cover {/* To fix resizing sections over the iframe */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10; 
    background: transparent; /* Or any color with opacity if needed */
}
.convo-symboldata, .convo-subscription{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding:0.55rem 0.6rem 0.55rem 0.6rem;
    justify-content: space-between;
    color: var(--OFFWHITE);    
    margin: 4px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-family: 'Inter';
    transition: all 0.25s ease;
}
.ant-popover-inner{
    font-family: 'Inter';
}
.convo-red{
    color: #c66969;
    border: 1px solid #690000;
}
.convo-red:hover{
    background-color: #380000 !important;
}
#sidebar-section-lower{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0.5vh;
}
.convo-subscription{
    border: 1px solid #2e3444 !important;
}
.convo-subscription:hover{
    background-color: transparent !important;
    color: black;
    filter: invert();
}
.convo-getsubscription{
    border-color: #986868;
}
.darken-hover:hover{
    border-radius: 13px;
    background-color: var(--DARK-SELECT);
    transition-duration: 0.2s;
}
.convo-symboldata-title{
    font-weight: bold;
    text-align: center;
}
#messages-container{
    padding: 0.7rem;
}
.message{
    font-size: 1rem;
    background-color: var(--MESSAGE);
    color: white;
    padding: 3px 15px;
    border-radius: 6px;
    margin: 5px 0;
    word-wrap: break-word;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Krub', sans-serif;
    font-weight: 500;
    line-height: 1.5;  
}
.user-message-row{
    display: flex;
    justify-content: flex-end;
}
.ai-message-msg{
    background-color: purple;
}
.ai-message-row{
    display:flex;
    width: 75%;
}
#logo{
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding: 13px;
    width: 100%;
}
#logo-convo{
    height: 23%;
    width: 23%;
}
#logo > img{
    height: 25px;
    width: auto;
}
.noreport_option{
    color:rgb(174, 174, 174);
    cursor:not-allowed;
}
#chat-body{
    overflow-y: auto;
}
.loading-msg{
    animation: pulse 1s infinite;
    width: 50px !important;
}
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
}
#convo-pane-left-beforeloading{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.why-pitch-element{
    padding: 100px 6vw 100px 6vw;
    width: 100%;
    gap:30px;
}
.why-li{
    margin-top: 20px;
    gap:12px;
}
.why-pitch-title{
    text-align: center;
    font-weight: 600;
    font-size: 3.6rem;
}
.why-li-icon{
    font-size: 25px;
    font-weight: 900;
    color:var(--ACCENT-PURPLE);
}
.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
#loading-panel-container{
    padding-top: 35%;
    background-color: white;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
}
/* ---------------- SUBSCRIPTION ----------------*/
#subscription-full{
    width: 100%;
    display:flex;
    justify-content: center;
}
#subscription-page{
    align-self: center;
    height: 70%;
    width: 23rem;
}
.subscription-option{
    display:flex;
    flex-direction: column;
    gap:15px;
    padding:30px;
    border:1px solid var(--SECONDARY-GREY);
    border-radius: 6px;
    font-size:1.2rem;
}
.price-text{
    font-size:2.3rem;
    font-weight: 800;
}
.month-text{
    font-size:1.2rem;
    font-weight: 300;
}
.subscribe-btn{
    display: flex;
    font-size: 1.2rem;
    background-color: var(--DARKBLUE);
    color: white;
    width: 88%;
    align-self: center;
    padding: 5px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}
.subscribe-check-icon{
    margin: 4px;
}
.subscription-details{
    margin-top: 1rem;
    align-self: center;
}
.subscription-detail{
    font-size: 1rem;
}
.subscription-perks-container{
    margin-top: 2px;
    display:flex;
    flex-direction: column;
    gap:3px;
}
#subscription-form{
    display: flex;
    justify-content: center;
}
.subscription-title{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
#credit-counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.95rem;
}

#signup-success-container{
    font-size: 1.4rem;
    border:1px solid green;
    border-radius: 6px;
    padding: 30px;
}
#goto_portal_text{
    cursor:pointer;
}
.highlight-anim{
    position: relative;
    text-decoration: none;
    display:inline-block;
}
.highlight-anim::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    transform: scaleX(0); /* Initial width of the highlight (invisible) */
    transform-origin: bottom right;
    background-size: 50% 75%; /* Adjust the background size */
    background-position: 0 50%; /* Start the gradient from the bottom */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
    z-index:-1;
}
.nowrep-button.highlight-anim::before{
    height: 100%;
}
.nowrep-button{
    color:var(--LIGHTTEXT);
    background-color:#000010;
    font-weight: 500;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 0.5px solid #2C167F;
    box-shadow: inset 0 -2.5px 2px 0 rgba(249, 249, 249, 0.34);
}

.pointer{
    cursor:pointer;
}
.highlight-anim:hover::before{
    transform: scaleX(1); /* Set the width to 100% on hover */
    transform-origin: bottom left;
}
.red-anim::before{
    background-color: var(--COLOR2) !important;
}
.red-anim-light::before{
    background-color: var(--ACCENT-PURPLE20) !important;
}
.selected-button{
    font-weight: bold;
}
.landing-section {  
    /* padding: 0px 10px 0px 10px; */
    display: none;
    height: 98%;
    position: absolute;
    top: 100%; /* Start below the view */
    left: 0;
    transition: top 0.5s; /* Adjust the speed of the animation */
    overflow-x: hidden; /* Disables horizontal scrolling */
    overflow-y: auto; /* Enables vertical scrolling if needed */
    width: 100vw;
  }
  .landing-section.active {
    display:flex;
    top: max(7vh, 70px);
  }
  #pitch{
    width:100%;
    flex-direction: column;
    background-color: var(--CREAM);
  }
  .pitch-flex{
    display: flex;
    gap: 202px;
    flex: 1;
    flex-direction: column;
  }
  .pitch-flex .pitch-element:nth-child(1){
    background-color: #4D8CBB1c;  
    }
    .pitch-flex1 .pitch-element:nth-child(2){
        background-color: #BB7C4D1c;        
    }
    .pitch-flex1 .pitch-element:nth-child(3){
        background-color: #f2f2f2;

    }
    .pitch-flex1 .pitch-element:nth-child(4){
      background-color: #ff83001c;
    }
    .pitch-flex1 .pitch-element:nth-child(5){
    background-color: #4D8CBB1c;  
  }
  .pitch-title{
    font-weight: 900;
  }
  .typing-anim1{
    font-weight: 400;
    letter-spacing: -0.7px;
    position: relative;
  }
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  .typing {
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid black;
    width: 0;
    /* 100vw minus (typing-anim1 left margin) */
    background: linear-gradient(to right, var(--MESSAGE) calc(100vw - 13vw + 1vw), transparent 100vw); 
  }
  .typing_freq1{
      animation: typing 8s steps(120, end) infinite, blink-caret .75s step-end infinite;
    }
  .typing_freq2{
    animation: typing 7s steps(120, end) infinite, blink-caret .75s step-end infinite;

  }
  .typing_freq3{
    animation: typing 9s steps(120, end) infinite, blink-caret .75s step-end infinite;

  }
  .heading-element{
    background-image: url('../public/bkg.svg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
  }
  .heading-container{
    padding-bottom: 4vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--LIGHTTEXT);
}
  .blue-text-accent{
    text-wrap: nowrap;
    color: white;
    border-radius: 6px;
    padding: 0px 10px;
    background-color: var(--MAIN-ACCENT);
  }
  #main-chevron{
    flex:1;
    padding-top: 20vh;
    align-self: center;
    color: lightgrey;
    display: flex;
    justify-content: center;
}
.pitch-element{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 13px;
    border-radius: 3px;
    justify-content: space-between;
}
.pitch-element-body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.heading{
    font-weight: 600;
    cursor:default;
    user-select: none;
    letter-spacing: -2.7px;
    align-self: center;
    max-width: 550px;
}
.heading p{
    text-wrap: nowrap;
    text-align: center;
}
.heading-secondary{
    font-weight: 500;
    line-height:24px;
}
#benefits-list {
    width: 100%;
    display:flex;
    align-self: flex-end;
}
#benefits-card{
    width: auto;
    background-color:#f2f2f2;
}
#benefits-card b{
    font-size:1.2rem;
    color:black;
}
#benefits-card ul{
    list-style: inside;

}
.horiz-benefit{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1.3;
    align-items: flex-end;
}
.pitch-line{
    display:flex;   
}
.pitch-agent{
    right: 18vw;
    position: relative;
    font-size:2.7vw;
    text-align: center;
    place-self:end;
    font-weight: bold;
}
.pitch-agent-ai{
    right: 5vw;
}
.pitch-text{
    font-size: 2vw;
}
.typing_response{
    text-wrap: wrap;
    width: calc(100vw - 13vw - 8vw);
}
#pitch-goto-portal{
    height: 15vh;
    width: 80%;
    margin-top: 5vh;
}
.ant-select-item-option-content{
    font-family: 'Inter' !important;
    font-size: min(3vw, 17px);
}
.ant-input{
    font-family:'Inter'
}
#main-goto-portal{
    min-width: 13vw;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.nowrep-button:hover{
    cursor:pointer;
}
.delayed-text {
    opacity: 0; /* Start with the text being fully transparent */
    animation-name: fadeIn; /* Reference to the keyframes animation */
    animation-duration: 0.3s; /* Duration of the fade-in effect */
    animation-delay: 0.6s; /* Delay the start of the animation by 8 seconds */
    animation-fill-mode: forwards; /* Keep the final state after animation ends */
}
@keyframes fadeIn {
    to {
      opacity: 1; /* Animate to fully opaque */
    }
  }
.account-button{
    width: clamp(49px, 200px, 9vw);
    font-weight: bold;
    font-size: 1vw;
}
.rui-logo{
    width: min(24vw, 240px) !important;
}
.rui-navbar{
    background-color: var(--CREAM) !important;
}
.rui-cta{
    display:flex;   
    width: 300px !important;
}
  /* ---------------- FOOTER ---------------- */

  #footer{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding-left: 15vw;
    padding-right: 15vw;
  }
  #footer *{
    color: black;
  }
  .footer-categs{
    gap:100px;
  }
  .footer-link{
    cursor:pointer;
  }
  .footer-logotext{
    gap:25px;
  }
  #footer ul{
    font-size:1rem;
  }
  #ending-pitch-filler{
    height: 10vh;
  }
  #about-container{
    display: flex;
    flex-direction: column;
    gap: 15vh;
  }
  #about{
    align-items: center;
    justify-content: center;
    height: 85%;
  }
  .about-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #convo-container .message{
    width: auto;
  }
#feedback-container{
    display:flex;
    flex-direction:column;
    gap: 1rem;
}
.feedback-icon{
    font-size:10rem;    
}
.feedback-success-icon{
    color:green;
}
.feedback-error-icon{
    color:red;
}
.feedback-result-container{
    margin: 4vh;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}
.feedback-result-container > h3{
    font-family: 'Inter';
    font-size: 1.5rem;
}
.feature-card{
    height: 30vh;
    background-color: white !important;
    color: black;
}
#featurecard-container{
    gap:35px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.feature-card.selected{
    border: 3px solid var(--MESSAGE);
}
.feature-send-btn{
    width: 30vw;
}
#new-features{
    margin-top: 10vh;
    flex-direction: column;
    align-items: center;
    gap:2vh;
}

.thankyou-overlay{
    z-index: 99;
    position: absolute;
    background: var(--CREAM);
    height: 100%;
    width: 100%;
}
.thankyou-container{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden{
    display:'none';
}
#main-desktop-sk{
    bottom:4vh;
    align-self: center;
    width: 51vw;
}   
.main-sk{
    z-index:2;
    position: relative;
    bottom:14vh;
    display: flex;
    justify-content: center;
}
.nowrep-signup{
    background-color:#000010;
    font-weight: 500;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 0.5px solid #2C167F;
    box-shadow: inset 0 -2.5px 2px 0 rgba(249, 249, 249, 0.34);
    color: white;
    padding: 10px 30px 10px 30px;
}
.final-ctadiv-container{
    margin: 0 6vw 0 6vw;
    border-radius:40px;
    display:flex;
    justify-content: center;
    background-image: url('../public/bkg.svg');
}
.final-ctadiv{
    padding:35px 0 35px 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}
.ctadiv-text1{
    font-weight: 700;
    line-height: 30px;
}
.why-pitch-container{
    display:flex;
}
.feature-card{
    min-height: 260px;
}
@media only screen and (min-width: 50px){
    .feature-cardtext{
        font-size:90%;
    }
    .heading-container{
        max-width: 300px;  
    }
    .mobile-only{
        display:flex;
    }
    .desktop-only{
        display:none;
    }
    .ctadiv-text1{
        font-size:1.2rem;
    }
    .why-pitch-container{
        flex-direction:column;
    }
    .nowrep-button{
        height: 55px;
        width: 240px;
        padding: 12px 32px 12px 32px;
        font-size: 16px;
    }
    .heading-element{
        padding-bottom: 100px;
        padding-top: 70px;
    }
    .heading{
        font-size: 50px;
        line-height: 45px;
    }
    .heading-secondary{
        font-size:16px;
    }
    .pitch-flex1{
        padding-left: 0%;
        width: 100%;
    }
    .message{
        width: 100%;
        text-wrap: wrap;
    }
    .typing-anim1{
        right: 0vw;
        white-space: normal;
    }
    .pitch-title{
        font-weight: 900;
        font-size: 8vw;
        margin-bottom: 50px;
    }
    .typing,.delayed-text{
        font-size: 4.5vw;
    }
    #pitch-goto-portal{
        font-size: 5.5vw;
    }
    #about-container{
        font-size: 2.5vw;
    }
    .typing_freq4{
        animation: none;
    }
    .pitch-element{
        min-height:55vh;
    }
    #benefits-card{
        display:none;
    }
    #footer h2{
        font-size:1rem;
    }
    #nowrep-menu,#login-btn{
        font-size:0.85rem;
    }
}
@media only screen and (min-width: 576px){
    .feature-cardtext{
        font-size:100%;
    }
    .heading-container{
        max-width: 450px;  
    }
    .mobile-only{
        display:flex;
    }
    .desktop-only{
        display:none;
    }
    .ctadiv-text1{
        font-size:1.3rem;
    }
    .why-pitch-container{
        flex-direction:column;
    }
    .nowrep-button{
        height: 65px;
        width: 240px;
        padding: 12px 32px 12px 32px;
        font-size: 18px;
    }
    .heading-element{
        padding-bottom: 150px;
        padding-top: 100px;
    }
    .heading{
        font-size: 65px;
        line-height: 55px;
    }
    .heading-secondary{
        font-size:22px;
    }
    .pitch-flex1{
        padding-left: 0%;
        width: 100%;
    }
    .message{
        width: 100%;
        text-wrap: wrap;
    }
    .typing-anim1{
        right: 0vw; 
        white-space: normal;
    }
    .pitch-title{
        font-weight: 900;
        font-size: 5.5vw;
    }
    .typing,.delayed-text{
        font-size: 3.3vw;
    }
    #pitch-goto-portal{
        font-size: 5.5vw;
    }
    #about-container{
        font-size: 2.2vw;
    }
    .typing_freq4{
        animation: none;
    }
    .pitch-element{
        min-height:55vh;   
    }
    #benefits-card{
        display:flex;
        font-size:0.8rem;
    }
    #footer h2{
        font-size:1.1rem;
    }
    #nowrep-menu,#login-btn{
        font-size:0.85rem;
    }
}
@media only screen and (min-width: 768px){
    .feature-cardtext{
        font-size:100%;
    }
    .heading-container{
        max-width: 650px;  
    }
    .mobile-only{
        display:none;
    }
    .desktop-only{
        display:flex;
    }
    .ctadiv-text1{
        font-size:1.6rem;
    }
    .why-pitch-container{
        flex-direction:row;
    }
    .nowrep-button{
        height: 65px;
        width: 240px;
        padding: 12px 32px 12px 32px;
        font-size: 18px;
    }
    .heading-element{
        padding-bottom: 180px;
        padding-top: 110px;
    }
    .heading{
        font-size: 70px;
    }
    .heading-secondary{
        font-size:25px;
    }
    .pitch-flex1{
        padding-left: 15%;
        width: 280%;
    }
    .typing-anim1{
        max-width: 55%;
        text-wrap: nowrap;
    }
    .typing-anim1{
        right: 13vw;
        white-space: nowrap;
    }
    .delayed-text{
        width: 75vw;
        text-wrap: wrap;
    }
    .pitch-title{
        font-weight: 900;
        font-size: 5vw; 
    }
    .typing,.delayed-text{
        font-size: 2.3vw;
    }
    #pitch-goto-portal{
        font-size: 4vw;
    }
    #about-container{
        font-size: 1.9vw;
    }
    .typing_freq4{
        animation: typing 3.5s steps(120, end) infinite, blink-caret .75s step-end infinite;
    }
    .pitch-element{
        min-height:55vh;
    }
    #benefits-card{
        display:flex;
        font-size:0.9rem;
    }
    #footer h2{
        font-size:1.3rem;
    }
    #nowrep-menu,#login-btn{
        font-size:1.1rem;
    }
}
@media only screen and (min-width: 992px){
    .feature-cardtext{
        font-size:100%;
    }
    .heading-container{
        max-width: 650px;  
    }
    .mobile-only{
        display:none;
    }
    .desktop-only{
        display:flex;
    }
    .ctadiv-text1{
        font-size:1.7rem;
    }
    .why-pitch-container{
        flex-direction:row;
    }
    .nowrep-button{
        height: 70px;
        width: 290px;
        padding: 12px 32px 12px 32px;
        font-size: 22px;
    }
    .heading-element{
        padding-bottom: 200px;
        padding-top: 120px;
    }
    .heading{
        font-size: 83px;
        line-height: 75px;
    }
    .heading-secondary{
        font-size:23px;
    }
    .pitch-flex1{
        padding-left: 20%;
        width: 280%;
    }
    .delayed-text{
        width: 75vw;
        text-wrap: wrap;
    }
    .typing-anim1{
        right: 13vw;
        white-space: nowrap;
    }
    .pitch-title{
        font-weight: 900;
        font-size: 4.5vw;
    }
    .typing,.delayed-text{
        font-size: 1.7vw;
    }
    #pitch-goto-portal{
        font-size: 2.7vw;
    }
    #about-container{
        font-size: min(1.5vw, 22px);
    }
    .typing_freq4{
        animation: typing 3.5s steps(120, end) infinite, blink-caret .75s step-end infinite;
    }
    .pitch-element{
        min-height:55vh;
    }
    #benefits-card{
        display:flex;
        font-size:1.1rem;
    }
    #footer h2{
        font-size:1.3rem;
    }
    #nowrep-menu,#login-btn{
        font-size:1.1rem;
    }
}
@media only screen and (max-height: 800px){
    body{
        overflow: auto;
    }
}
@media only screen and (min-height: 801px){
    body{
        overflow: scroll;
    }
}


